#sm-head{
    font-size: 32px;
}
#bosses{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
#bosses td, #bosses th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#bosses th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}
#bosses tr:nth-child(even){
    background-color: #f2f2f2;
}